// .register-container {
//   width: 400px;
//   margin: 60px auto;
//   background: #fdfdfd;
//   border-radius: 10px;
//   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
//   padding: 2rem 2.5rem;
//   font-family: "Poppins", sans-serif;
//   text-align: left;

//   h1 {
//     text-align: center;
//     color: #0056b3;
//     margin-bottom: 0.5rem;
//   }

//   h2 {
//     text-align: center;
//     color: #444;
//     font-size: 1rem;
//     margin-bottom: 1.5rem;
//   }

//   label {
//     display: block;
//     margin-bottom: 0.3rem;
//     font-weight: 600;
//   }

//   input {
//     width: 100%;
//     padding: 0.6rem;
//     margin-bottom: 1rem;
//     border: 1.5px solid #ccc;
//     border-radius: 6px;
//     font-size: 1rem;
//     transition: border-color 0.2s;

//     &:focus {
//       border-color: #007bff;
//       outline: none;
//     }
//   }
// // 
//   button {
//     width: 100%;
//     padding: 0.8rem;
//     background: linear-gradient(90deg, #6fe7ff, #fd8ba3);
//     border: none;
//     color: white;
//     font-size: 1.1rem;
//     border-radius: 8px;
//     cursor: pointer;
//     font-weight: 600;
//     transition: transform 0.2s;

//     &:hover {
//       transform: scale(1.05);
//     }
//   }
// }
